<main style="padding-left: 20px;">
  <br />
  <div class="navbar">
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <p>cart id: {{user.cart}}</p>
  </div>
  <h1>Tu carrito de compras</h1>
  <h3>Est치s un paso m치s cerca de obtener los productos que quieres!</h3>

  {{#each products}}
    <div class="cartProducts">
      <h3 style="text-align: center;">{{this.product.title}}</h3>
      <p>Descripci칩n: {{this.product.description}}</p>
      <p>C칩digo: {{this.product.code}}</p>
      <p>Precio: ${{this.product.price}}</p>
      <p>Stock: {{this.product.stock}}</p>
      <p>Categoria: {{this.product.category}}</p>
      <p>Owner: {{this.product.owner}}</p>
      <p>Cantidad: {{this.quantity}}</p>
    </div>
    <br />
  {{/each}}
  <br />
  <button
    onclick="purchaseCart('{{user.cart}}')"
    class="btnMain"
  >Comprar</button>
</main>
<!-- Se deben poner en este orden, primero el script de socket.io y luego nuestro script-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>