<h1 style="padding-left: 20px;">Bienvenidos a su tienda favorita</h1>

<h3 style="padding-left: 20px;">Productos disponibles</h3>

<main style="padding-left: 20px;">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody id="realTimeTable">
      {{#each products}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>

<!-- Se deben poner en este orden, primero el script de socket.io y luego nuestro script-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>