<h1 style="padding-left: 20px;">Hola
  {{user.name}}, te damos la bienvenida a tu tienda favorita!</h1>

<div style="padding-left: 20px;">
  <p>Email: {{user.email}}</p>
  {{#if user.age}}
    <p>Edad: {{user.age}}</p>
  {{/if}}
  <p>Rol: {{user.role}}</p>
</div>
<br />
<h3 style="padding-left: 20px;">Estos son los productos disponibles</h3>

<main style="padding-left: 20px;">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody id="realTimeTable">
      {{#each productos}}
        <script>console.log(productos)</script>
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>

<br />
<br />
<a style="padding-left: 20px;" href="/api/sessions/logout">
  <button>Salir</button>
</a>

<!-- Se deben poner en este orden, primero el script de socket.io y luego nuestro script-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>