<main style="padding-left: 20px;">
  <h3>Productos disponibles</h3>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="realTimeTable">
      {{#each productos}}
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>
            <button>Agregar al carrito</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <br />

  {{#if hasPrevPage}}
    <a href="{{prevLink}}">anterior</a>
  {{/if}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}

</main>

<!-- Se deben poner en este orden, primero el script de socket.io y luego nuestro script-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>