<h1 style="padding-left: 20px;">Gestionar productos</h1>

<main class="main" style="padding-left: 20px;">

  <h2>Creación de producto</h2>
  <div>
    <label>Título</label>
    <input id="iptTitulo" type="text" placeholder="Título" />
    <label>Descripción</label>
    <input id="iptDescripcion" type="text" placeholder="Descripción" />
    <label>Código</label>
    <input id="iptCodigo" type="text" placeholder="Código" />
  </div>
  <br />
  <div>
    <label>Stock</label>
    <input id="iptStock" type="number" placeholder="Stock" />
    <label>Precio</label>
    <input id="iptPrecio" type="number" placeholder="Precio" />
    <label>Categoria</label>
    <input id="iptCategoria" type="text" placeholder="Categoria" />
  </div>
  <br />
  <div>
    <label>Thumbnails</label>
    <input id="fiThumbnails" type="file" placeholder="Thumbnails" multiple />
  </div>
  <br />
  <button id="btnAgregar">Crear Producto</button>

  <br />
  <br />

  <h2>Productos disponibles</h2>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="realTimeTable">
      {{#each products}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>
            <button onclick="eliminarProducto({{this.id}})">Eliminar</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br />
  <br />
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>