<main class="main" style="padding-left: 20px;">
  <br />
  <div class="navbar">
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <p>cart id: {{user.cart}}</p>
  </div>
  <br />
  <h1>Gestionar productos</h1>
  <h2>Creación de producto</h2>
  <form id="newProductForm">
    <div>
      <label>Título</label>
      <input id="iptTitulo" name="title" type="text" placeholder="Título" />
      <label>Descripción</label>
      <input
        id="iptDescripcion"
        name="description"
        type="text"
        placeholder="Descripción"
      />
      <label>Código</label>
      <input id="iptCodigo" name="code" type="text" placeholder="Código" />
    </div>
    <br />
    <div>
      <label>Stock</label>
      <input id="iptStock" name="stock" type="number" placeholder="Stock" />
      <label>Precio</label>
      <input id="iptPrecio" name="price" type="number" placeholder="Precio" />
      <label>Categoria</label>
      <input
        id="iptCategoria"
        name="category"
        type="text"
        placeholder="Categoria"
      />
    </div>
    <br />
    <!--<div>
      <label>Thumbnails</label>
      <input
        id="fiThumbnails"
        name="thumbnails"
        type="file"
        placeholder="Thumbnails"
        multiple
      />
    </div>
    <br /> -->
    <button id="btnAgregar" class="btnMain">Crear Producto</button>
  </form>
  <br />

  <h2>Productos disponibles</h2>

  <table>
    <thead>
      <tr>
        {{! <th>id</th> }}
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th>Owner</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="realTimeTable">
      {{#each productos}}
        <tr>
          {{!-- <td>{{this._id}}</td> --}}
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>{{this.owner}}</td>
          <td>
            <button
              onclick="eliminarProducto('{{this._id}}')"
              class="btnTableEliminar"
            >Eliminar</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>

<!-- Se deben poner en este orden, primero el script de socket.io y luego nuestro script-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>